:root {
  --accent-color: rgb(50, 115, 220);
  --text-color-primary: rgba(0, 0, 0, 0.87);
  --text-color-secondary: rgba(0, 0, 0, 0.6);
}

body {
  color: var(--text-color-secondary);
  font-family: "Rubik", sans-serif;
}

a:any-link {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-primary);
  font-family: "Rajdhani", sans-serif;
}

footer {
  background-color: rgb(245, 245, 245);
  border-top: 1px solid rgb(219, 219, 219);
  padding: 1em;
  text-align: center;
}

footer p {
  margin: 0.5em 0;
}

pre {
  color: var(--text-color-primary);
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  background-color: rgb(245, 245, 245);
  border-radius: 1em;
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

code {
  font-family: "Fira Mono", monospace;
}

nav {
  background-color: rgb(245, 245, 245);
  border-bottom: 1px solid rgb(219, 219, 219);
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}

nav ul li {
  padding-bottom: 0.8em;
}

nav ul li a:any-link {
  color: var(--text-color-secondary);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a.logo {
  color: var(--accent-color);
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}

article {
  padding: 1.5em 1em;
}

article time + h1 {
  margin-top: 0em;
}

ul.posts {
  list-style: none;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5em;
}

ul.posts li {
  padding-bottom: 2em;
}

ul.posts li time + h2 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

ul.posts li p.subtitle {
  margin: 0px;
  margin-bottom: 0.25em;
  color: var(--text-color-primary);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  line-height: 1.5;
}

@media screen and (min-width: 800px) {
  main,
  nav ul li {
    margin: 0 auto;
    width: 800px;
  }

  nav ul li {
    padding-left: 1em;
    padding-right: 1em;
  }
}
